.basket {
	padding: 55px 0 60px 0;
}

.basket__title {
	font-size: 34px;
	color:#523b73;
	text-align: center;
	margin-bottom: 30px;
}

.basket__desc {
	font-size: 16px;
	line-height: 24px;
	padding-bottom: 30px;
	padding-left: 3000px;
	padding-right: 3000px;
	margin-left: -3000px;
	margin-right: -3000px;
	margin-bottom: 10px;
	border-bottom: 1px solid #e7e7e7;
}

.basket__list {
	margin-bottom: 40px;
}

.basket__item {
	display: flex;
	padding: 40px 0;
	border-bottom: 1px solid #e7e7e7;
	align-items: center;
}

.basket__img-container {
	overflow: hidden;
	margin-right: 90px;
	max-width: 90px;
}

.basket__item-name {
	font-size: 20px;
	width: 315px;
	margin-right: 35px;
}

.basket__item-count {
	display: flex;
}

.basket__item-btn-minus,
.basket__item-btn-plus {
	@include states {
		font-size: 24px;
		text-align: center;
		display: block;
		width: 25px;
		height: 25px;
		line-height: 25px;
		background: #e7e7e7;
	}
	@include linksHover();
}

.basket__item-btn-minus {
	@include states {
		position: relative;

		&:before {
			position: absolute;
			content: "";
			display: block;
			width: 11px;
			height: 2px;
			background: #333333;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
}

.basket__item-count-number {
	text-align: center;
	min-width: 25px;
	height: 25px;
	line-height: 25px;
	font-size: 16px;
	color: #fff;
	background: #523b73;
}

.basket__item-right {
	margin-left: auto;
	display: flex;
	align-items: center;
}

.basket__item-price {
	margin-right: 45px;
	font-size: 27px;
}

.basket__item-btn-delete {
	@include states {
		display: block;
		position: relative;
		overflow: hidden;
		width: 25px;
		height: 25px;
		margin-right: -6px;

		&:before,
		&:after {
			content: '';
			position: absolute;
			height: 1px;
			width: 12px;
			top: 50%;
			left: 50%;
			margin-left: -6px;
			margin-top: -1px;
			background: #ff0000;
		}

		&:before {
			transform: rotate(45deg);
		}

		&:after {
			transform: rotate(-45deg);
		}
	}

	@include linksHover();
}

.basket__result {
	display: flex;
	flex-direction: column;
}

.basket__result-text {
	font-size: 27px;
	margin-bottom: 25px;
	text-align: right;
}

.basket__result-btn {
	@include states {
		display: inline-block;
		min-width: 210px;
		padding: 0 10px;
		border-radius: 3px;
		text-align: center;
		color: #fff;
		background: #523b73;
		font-size: 16px;
		@include font(semi);
		height: 45px;
		line-height: 45px;
		align-self: flex-end;
		box-shadow: 0px 8px 13.44px 2.56px rgba(81, 58, 114, 0.16);
		transition: all .3s ease-in-out;
	}

	&:hover:not(:active) {
		background: #35264a;
	}
}


