/* xs+sm+md */
@media screen and (max-width: 1199px) {

}

/* xs+sm */
@media screen and (max-width: 991px) {
	.basket__img-container {
		margin-right: 35px;
	}

	.basket__item-name {
		margin-right: 25px;
		width: 300px;
	}

	.basket__item-count {
		margin-right: 10px;
	}

	.basket__item-price {
		margin-right: 20px;
	}
}

/* xs */
@media screen and (max-width: 767px) {
	.basket__title {
		font-size: 32px;
	}

	.basket__item {
		flex-wrap: wrap;
		padding: 35px 0;
		align-items: initial;
	}

	.basket__item::after {
		content: '';
		width: 100%;
	}

	.basket__item-name {
		width: auto;
		margin-right: 0;
		flex: 1;
	}

	.basket__img-container {
		margin-right: 10px;
	}

	.basket__item-right {
		align-self: center;
		margin-top: 17px;
		order:2;
	}

	.basket__item-count {
		align-self: center;
		order:1;
		margin-top: 17px;
	}

	.basket__result {
		align-items: center;
	}

	.basket__result-btn {
		@include states {
			align-self: center;
		}
	}

}
