.reviews {
	padding: 65px 0 110px 0;
}

.reviews__list {
	margin-bottom: 115px;
}

.reviews__item {
	display: flex;
	margin-bottom: 50px;

	&:last-child {
		margin-bottom: 0;
	}
}

.reviews__item-left {
	flex: 0 0 180px;
	margin-right: 85px;
}

.reviews__img-container {
	width: 100%;
	height: 180px;
	overflow: hidden;
	border-radius: 50%;
	box-shadow: 0px 8px 10px 2px rgba(0,0,0,0.15);
}

.reviews__item-right {
	padding-top: 50px;
}

.reviews__name {
	font-size: 32px;
	color: #523b73;
	margin-bottom: 10px;
}

.reviews__date {
	font-size: 16px;
	@include font(semi);
	color: #333333;
	margin-bottom: 15px;
}

.reviews__text {
	font-size: 16px;
	line-height: 24px;
	color: #333333;
	margin-bottom: 20px;
}

.reviews__link-btn {
	@include states {
		display: inline-block;
		padding: 0 10px;
		min-width: 175px;
		height: 40px;
		line-height: 40px;
		text-align: center;
		color: #fff;
		font-size: 16px;
		@include font(semi);
		background: #523b73;
		border-radius: 3px;
		transition: all .3s ease-in-out;
	}

	&:hover:not(:active) {
		background: #35264a;
	}
}

.reviews__form-wrap {
	padding: 0 90px;
}

.reviews__form-title {
	font-size: 20px;
	@include font(semi);
	margin-bottom: 30px;
}

.reviews__input {
	text-align: left;
	background: transparent;
	display: block;
	width: 100%;
	height: 50px;
	padding: 0 15px;
	outline: none;
	border: none;
	border-bottom: 1px solid #d7d7d7;
	margin-bottom: 35px;
	font-size: 16px;
	color: #606060;
	font-family: 'ProximaNova-Semibold';
}

.reviews__input::-webkit-input-placeholder,
.reviews__textarea::-webkit-input-placeholder {
	color: #606060;
}

.reviews__file {
	display: none !important;
}

.reviews__label-file {
	color: #606060;
	text-align: left;
	background: transparent;
	display: block;
	width: 100%;
	height: 50px;
	line-height: 49px;
	padding: 0 15px;
	outline: none;
	border: none;
	border-bottom: 1px solid #d7d7d7;
	font-size: 16px;
	font-family: 'ProximaNova-Semibold';
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: normal;
	cursor: pointer;
}

.reviews__textarea {
	text-align: left;
	background: transparent;
	display: block;
	width: 100%;
	height: 220px;
	resize: none;
	padding: 14px 15px;
	outline: none;
	border: 1px solid #d7d7d7;
	font-size: 16px;
	color: #606060;
	font-family: 'ProximaNova-Semibold';
	border-radius: 3px;
}

.reviews__sbm-wrap {
	margin-top: 40px;
	text-align: center;
}

.reviews__sbm-btn {
	@include states {
		display: inline-block;
		padding: 0 10px;
		min-width: 175px;
		height: 45px;
		line-height: 45px;
		text-align: center;
		color: #fff;
		font-size: 16px;
		@include font(semi);
		background: #523b73;
		border-radius: 3px;
		outline: none;
		border: none;
		transition: all .3s ease-in-out;
	}

	&:hover:not(:active) {
		background: #35264a;
	}
}