/* xs+sm */
@media screen and (max-width: 991px) {
	.reviews__item-left {
		flex: 0 0 135px;
		margin-right: 40px;
	}

	.reviews__img-container {
		height: 135px;
	}

	.reviews__form-wrap {
		padding: 0;
	}

	.reviews {
		padding: 65px 0 30px 0;
	}
}

/* xs */
@media screen and (max-width: 767px) {
	.reviews__item {
		flex-wrap: wrap;
	}

	.reviews__item-left {
		margin-right: 0;
		margin-bottom: 30px;
	}

	.reviews__item-right {
		padding-top: 0;
	}

	.reviews__name {
		font-size: 27px;
	}

	.reviews__sbm-wrap {
		text-align: left;
	}

	.reviews__label-file {
		margin-bottom: 60px;
	}
}
