.contacts {
	height: 715px;
	position: relative;
}

.contacts__map {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.contacts__info {
    position: absolute;
    margin: 75px 0 75px 85px;
    width: 400px;
    background: #3e2e54;
    border-radius: 5px;
    padding: 35px 45px;
    top: 0;
    left: 0;
}

.contacts__info-item {
	text-align: center;
	margin-bottom: 35px;

	&:last-child {
		margin-bottom: 0;
	}

	img {
		max-height: 25px;
	}
}

.contacts__info-title {
	font-size: 20px;
	margin-bottom: 10px;
	color: #fff;
	@include font(semi);
}

.contacts__info-desc {
	font-size: 14px;
	color: #cacaca;
}

.contacts__info-btns-wrap {
	display: flex;
	margin-right: -10px;
	margin-top: 10px;
	justify-content: center;
}

.contacts__info-btn {
	@include states {
		min-width: 145px;
		display: inline-block;
		margin-right: 10px;
		height: 33px;
		line-height: 31px;
		border-radius: 5px;
		background: transparent;
		border: 1px solid #fff;
		color: #fff;
		font-size: 12px;
		padding: 0 10px;
		@include font(semi);
		transition: all .3s ease-in-out;
	}

	&:hover {
		color: #523b73;
		background: #fff;
	}
}

[class*="ymaps-2"][class*="-ground-pane"] {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    /* Firefox 3.5+ */
    -webkit-filter: grayscale(100%);
    /* Chrome 19+ & Safari 6+ */
}

