@media screen and (max-width: 991px) {
	.contacts__info {
		margin-left: 20px;
	}
}

@media screen and (max-width: 767px) {
	.contacts {
		height: auto;
	}

	.contacts__map {
		height: 230px;
		position: relative;
	}

	.contacts__info {
		position: relative;
		border-radius: 0;
		margin: 0;
		width: 100%;
	}

	.contacts__info-btns-wrap {
		flex-wrap: wrap;
		margin-bottom: -20px;
	}

	.contacts__info-btn {
		@include states {
			margin-bottom: 20px;
		}
	}
}