.doctors__item {
	padding-top: 70px;
	border-bottom: 1px solid #e7e7e7;
	margin-right: -3000px;
	margin-left: -3000px;
	padding-left: 3000px;
	padding-right: 3000px;
	display: flex;
}

.doctors__item-left {
	flex: 0 0 315px;
	align-self: flex-end;
	margin-right: 95px;
}

.doctors__img-container {
	overflow: hidden;
	width: 100%;
}

.doctors__item-right {
	padding-top: 20px;
	padding-bottom: 25px;
}

.doctors__item-title {
	font-size: 32px;
	color:#523b73;
	margin-bottom: 10px;
}

.doctors__item-prof {
	font-size: 20px;
	@include font(semi);
	margin-bottom: 25px;
}

.doctors__item-desc {
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 25px;
}

.doctors__info-item {
	margin-bottom: 25px;
	font-size: 16px;
	line-height: 24px;

	b {
		@include font(semi);
	}

	&:last-child {
		margin-bottom: 0;
	}
}
