/* xs+sm */
@media screen and (max-width: 991px) {
	.doctors__item-left {
		margin-right: 25px;
	}
}

/* xs */
@media screen and (max-width: 767px) {
	.doctors__item {
		flex-wrap: wrap;
		border-bottom: none;
		padding-top: 25px;
		padding-bottom: 30px;
	}

	.doctors__item-left {
		flex: 1;
		margin-right: -15px;
		margin-left: -15px;
		padding-left: 15px;
		padding-right: 15px;
		border-bottom: 1px solid #e7e7e7;
	}

	.doctors__item-right {
		padding-top: 35px;
	}
}