.price {
	padding: 70px 0 20px 0;
}

.price__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-right: -50px;
}

.price__item {
	margin-right: 50px;
	margin-bottom: 45px;
}

.price__link {
	display: block;
	width: 235px;

	&:hover {
		.price__img-container {
			box-shadow: 0px 8px 13px 3px rgba(81, 58, 114, 0.16);

			&:before,
			&:after {
				opacity: 1;
			}
		}
	}
}

.price__img-container {
	width: 235px;
	height: 225px;
	position: relative;
	overflow: hidden;
	border-radius: 3px;
	margin-bottom: 12px;
	transition: all .3s ease-in-out;
}

.price__img {
	position: absolute;
	top: 50%;
	left: 50%;
	min-height: 101%;
	min-width: 100%;
	transform: translate(-50%, -50%);
	display: block;
}

.price__list_basket {
	.price__text {
		text-align: left;
		font-size: 18px;
	}

	.price__img-container {
		&:before {
			position: absolute;
			content: "";
			display: block;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background: rgba(0,0,0,0.2);
			border-radius: 3px;
			transition: all .3s ease-in-out;
			z-index: 1;
			opacity: 0;
		}

		&:after {
			position: absolute;
			content: "";
			display: block;
			top: 50%;
			left: 50%;
			width: 40px;
			height: 40px;
			background: #523b73 image-url('basket-big.png') no-repeat 50% 50%;
			background-size: 50% 50%;
			transform: translate(-50%, -50%);
			transition: all .3s ease-in-out;
			z-index: 1;
			opacity: 0;
		}
	}

	.price__link {
		&:hover {
			.price__img-container {
				&:before,
				&:after {
					opacity: 1;
				}
			}
		}
	}
}

.price__text {
	text-align: center;
	font-size: 20px;
	color: #523b73;
	@include font(semi);
	margin-bottom: 5px;
}

.price__item-price {
	font-size: 14px;
	@include font(semi);
	color: #131313;
}

