@media screen and (max-width: 767px) {
	.price {
		padding-top: 30px;
	}

	.price__item {
		width: 100%;
	}

	.price__link {
		@include states {
			width: 100%;
		}
	}

	.price__img-container {
		width: 100%;
		height: 0;
		padding-top: 100%;
	}
}