.cont-head {
	padding: 50px 0;
	background: image-url('feedback-bg.png') no-repeat 50% 50%;
	background-size: cover;
	text-align: center;
}

.breadcrumbs {
	margin-bottom: 5px;
}

.breadcrumbs__item {
	margin-right: 25px;
	display: inline-block;
	position: relative;
	vertical-align: middle;
	font-size: 14px;
	line-height: 22px;
	color: #999999;

	&:before {
		position: absolute;
		content: "/";
		display: inline-block;
		top: 50%;
		transform: translateY(-50%);
		right: -17px;
		color: #fff;
	}

	&:last-child {
		color: #ffffff;
		margin-right: 0;

		&:before {
			display: none;
		}
	}
}

.breadcrumbs__link {
	@include linksHover();
	@include states {
		color: inherit;
	}
}

.cont-head__title {
	font-size: 54px;
	color: #ffffff;
	line-height: 64px;
	@include font(light);
}

.pages-nav {
	position: relative;

	&:before {
		bottom: 0;
		content: "";
		display: block;
		width: 100%;
		left: 0;
		position: absolute;
		height: 1px;
		background: #e7e7e7;
	}
}

.pages-nav__container {
	padding-left: 15px;
	margin-right: -15px;
	margin-left: -15px;
}

.owl-page-nav {
	height: 50px;
}

.owl-page-nav .owl-stage {
	white-space: nowrap;
	margin: 0 auto;
}

.owl-page-nav .owl-item {
	display: inline-block;
	float: none;
}

.owl-page-nav__item {
	height: 50px;
	text-transform: uppercase;
	font-size: 13px;
	line-height: 50px;
	color: #523b73;
	border-bottom: 3px solid transparent;

	&.active {
		border-bottom: 3px solid #523b73;
	}
}

.owl-page-nav__link {
	@include linksHover();
}

.video {
	background: image-url('feedback-bg.png') no-repeat 50% 50%;
	background-size: cover;
	padding: 70px 0;
}

.video__container {
	padding: 0 95px;
}

.video__wrap {
	@include states {
		display: block;
		position: relative;
		box-shadow: 0px 8px 13.44px 2.56px rgba(9, 6, 12, 0.32);

		&:before {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			content: "";
			display: block;
			background-image: linear-gradient(-205deg, #2d2834 40%, #473560 100%);
			z-index: 1;
			opacity: 0.75;
		}

		&:after {
			@include get-sprite($icons, play);
			position: absolute;
			top: 50%;
			left: 50%;
			display: block;
			content: '';
			transform: translate(-50%, -50%);
			z-index: 1;
		}
	}
	@include linksHover();
}

.advantages_padding-top {
	padding-top: 70px;
}

