/* xs+sm */
@media screen and (max-width: 991px) {
	.video__container {
		padding: 0 40px;
	}
}

@media screen and (max-width: 767px) {
	.video__container {
		padding: 0;
	}

	.video {
		padding: 40px 0;
	}

	.cont-head {
		padding-bottom: 40px;
	}

	.cont-head__title {
		font-size: 44px;
		line-height: 44px;
	}	
}