.price-all {
	padding: 65px 0 65px 0;
}

.price-all__title {
	font-size: 32px;
	color: #523b73;
	text-align: center;
	margin-bottom: 40px;
}

.price-all-block__title {
	font-size: 20px;
	@include font(semi);
	margin-bottom: 10px;
}

.price-all__block-list {
	margin-bottom: 40px;
}

.price-all__block-item {
	display: flex;
	padding: 10px 0;
	border-bottom: 1px solid #e7e7e7;
}

.price-all__block-item-left {
	font-size: 16px;
	line-height: 22px;
	margin-right: 25px;
	flex: 1;
}

.price-all-block-item-right {
	font-size: 14px;
	line-height: 22px;
	text-align: right;
	@include font(semi);
	margin-left: auto;
}