/* xs */
@media screen and (max-width: 767px) {
	.price-all__block-item-left {
		margin-right: 0;
		flex: 0 0 100%;
		margin-bottom: 15px;
	}

	.price-all__block-item {
		flex-wrap: wrap;
	}

	.price-all-block-item-right {
		margin-left: 0;
	}

	.price-all {
		padding: 35px 0 35px 0;
	}

}