.shop-reg {
	padding: 55px 0 130px 0;
}

.shop-reg__title {
	font-size: 34px;
	text-align: center;
	color: #523b73;
	margin-bottom: 5px;
}

.shop-reg__form-block {
	padding: 40px 0;
	padding-right: 3000px;
	padding-left: 3000px;
	margin-left: -3000px;
	margin-right: -3000px;
	border-bottom: 1px solid #e7e7e7;

	&:last-child {
		border-bottom: none;
	}
}

.shop-reg__form-block-title {
	font-size: 20px;
	@include font(semi);
	margin-bottom: 20px;
}

.shop-reg__input {
	text-align: left;
	background: transparent;
	display: block;
	width: 100%;
	height: 50px;
	padding: 0 15px;
	outline: none;
	border: none;
	border-bottom: 1px solid #d7d7d7;
	font-size: 16px;
	color: #606060;
	font-family: 'ProximaNova-Semibold';
}

.shop-reg__input::-webkit-input-placeholder {
	color: #606060;
}

.shop-reg__inputs-wrap {
	margin-right: -35px;
	margin-left: -35px;

	& > div {
		padding-left: 35px;
		padding-right: 35px;
	}
}

.shop-reg__form-block-top {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.shop-reg__form-city {
	@include states {
		font-size: 16px;
		color: #666666;
		@include font(semi);
		display: inline-block;
		border-bottom: 1px dashed #666666;
		margin-left: 35px;
		margin-bottom: 20px;
	}

	@include linksHover();
}

.shop-reg__form-block-desc{
	font-size: 20px;
	color: #666666;
	margin-bottom: 15px;

	.separ {
		color: #695586;
	}
}

.shop-reg__form-block-desc-in {
	color: #695586; 
	font-size: 18px;
}

.shop-reg__form-radio-label {
	font-weight: normal;
	display: block;
	width: 100%;
	cursor: pointer;
}

.shop-reg__form-radio {
	display: none !important;
}

.shop-reg__form-radio-label-text {
	padding: 23px 0 23px 45px;
	border: 1px solid transparent;
	position: relative;
	font-size: 16px;
	@include font(semi);
	color: #666666;

	&:before {
		position: absolute;
		content: "";
		display: block;
		left: 18px;
		width: 15px;
		height: 15px;
		border-radius: 50%;
		top: 50%;
		transform: translateY(-50%);
		border: 1px solid #564076;
	}
}

.shop-reg__form-radio:checked + .shop-reg__form-radio-label-text {
	border: 1px solid #523b73;

	&:after {
		position: absolute;
		content: "";
		display: block;
		left: 22px;
		width: 7px;
		height: 7px;
		border-radius: 50%;
		top: 50%;
		transform: translateY(-50%);
		background: #333333;
	}
}

.shop-reg__form-block-section {
	& *:last-child {
		margin-bottom: 0;
	}

	margin-bottom: 30px;
}

.shop-reg__form-bot {
	padding-top: 20px;
	display: flex;
	flex-direction: column;
}

.shop-reg__form-result {
	font-size: 27px;
	text-align: right;
	margin-bottom: 15px;
}

.shop-reg__form-sbm {
	@include states {
		display: inline-block;
		min-width: 210px;
		padding: 0 10px;
		border-radius: 3px;
		text-align: center;
		color: #fff;
		background: #523b73;
		font-size: 16px;
		@include font(semi);
		height: 45px;
		line-height: 45px;
		outline: none;
		border: none;
		align-self: flex-end;
		box-shadow: 0px 8px 13.44px 2.56px rgba(81, 58, 114, 0.16);
		margin-bottom: 40px;
		transition: all .3s ease-in-out;
	}

	&:hover:not(:active) {
		background: #35264a;
	}
}

.shop-reg__form-bot-info {
	text-align: right;
	font-size: 14px;

	a {
		color: #523b73;
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}
}