/* xs */
@media screen and (max-width: 767px) {

	.shop-reg__title {
		font-size: 32px;
	}

	.shop-reg__input {
		margin-bottom: 20px;
	}

	.shop-reg__form-result {
		text-align: center;
	}

	.shop-reg__form-sbm {
		@include states {
			align-self: center;
		}
	}

	.shop-reg__form-bot-info {
		text-align: center;
	}

}
