.allservices {
	padding: 60px 0;
}

.allservices__list {
	margin-bottom: -60px;
	display: flex;
	flex-wrap: wrap;

	&:before, 
	&:after {
		display: none !important;
	}
}

.allservices__item {
	margin-bottom: 60px;
}

.allservices__item-title{
	font-size: 20px;
	@include font(semi);
	margin-bottom: 15px;
}

.allservices__in-item,
.allservices__in-item-item {
	margin-bottom: 15px;
	padding-left: 25px;
	position: relative;

	&:last-child {
		margin-bottom: 0;
	}

	&:before {
		position: absolute;
		content: "";
		display: block;
		top: 5px;
		left: 0;
		@include get-sprite($icons, Bullet);		
	}
}

.allservices__in-link,
.allservices__in-item-link {
	@include states {
		font-size: 16px;
		display: inline-block;
		transition: all .3s ease-in-out;
	}

	&:hover {
		text-decoration: underline;
		color: #523b73;
	}
}

.allservices__in-item-list {
	padding-top: 15px;
}