.about {
	border-top: 1px solid #e8e5ec;
	border-bottom: 1px solid #e8e5ec;

	.container {
		padding-top: 50px;
		padding-bottom: 50px;
		position: relative;
	} 
}

.about__title {
	font-size: 32px;
	color: #523b73;
	text-align: center;
	margin-bottom: 40px;
}

.about__cols {
	display: flex;
}

.about__col-1 {
	margin-right: 80px;
	max-width: 235px;
	flex-shrink: 0;
}

.about__col-title {
	font-size: 20px;
	color: #333333;
	@include font(semi);
	margin-bottom: 20px;
}

.about__col-text {
	font-size: 14px;
	line-height: 22px;

	p {
		margin-bottom: 20px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.about__col-2 {
	margin-right: 190px;
	max-width: 345px;
}

p.about__col-item {
	position: relative;
	margin-bottom: 15px;

	&:last-child {
		margin-bottom: 0;
	}

	&:before {
		position: absolute;
		content: "";
		display: block;
		top: 5px;
		left: -23px;
		@include get-sprite($icons, Bullet);		
	}
}

.about__col-sub {
	display: block;
	font-size: 16px;
	@include font(bold);
}

.about__img {
	max-width: 480px;
	bottom: 0;
	position: absolute;
	right: 210px;
}

.about__col-3-item-2 {
	padding-left: 70px;
	margin-right: -70px;
}

.about__col-3-item-3 {
	padding-left: 120px;
	margin-right: -120px;
}

.about__col-3-item-4 {
	padding-left: 120px;
	margin-right: -120px;
}

.about__btn-wrap {
	padding-left: 120px;
	margin-right: -120px;
}

.about__link {
	@include states {
		display: inline-block;
		border-radius: 3px;
		background: #513a72;
		height: 45px;
		line-height: 45px;
		color: #fff;
		text-align: center;
		font-size: 16px;
		@include font(semi);
		padding: 0 25px;
		transition: all .3s ease-in-out;
	}

	&:hover:not(:active) {
		background: #35264a;
	}
}
