.advantages__title {
	font-size: 32px;
	color: #523b73;
	margin-bottom: 70px;
	text-align: center;
}

.advantages__item {
	margin-bottom: 65px;
	padding-left: 66px;
	padding-right: 66px;
}

.advantages__item-img-desc{
	font-size: 16px;
	color: #523b73;
}

.advantages__item-img-container {
	height: 80px;
	border-bottom: 1px solid #e8e5ec;
	margin-bottom: 25px;

	&.first img {
		width: 50px;
		height: 35px;
	}

	&.pc img {
		width: 76px;
		height: 54px;
	}

	&.number img {
		width: 45px;
		height: 41px;
	}

	&.glob img {
		width: 54px;
		height: 63px;
	}

	&.tooth img {
		width: 61px;
		height: 64px;
	}

	&.sit img {
		width: 68px;
		height: 63px;
	}
}

.advantages__item-img-container.number {
	height: 85px;
}

.advantages__item-img.number {
	margin-top: -5px;
	display: block;
}

.advantages__item-img {
	margin-bottom: 10px;
}

.advantages__item-title {
	font-size: 20px;
	line-height: 27px;
	@include font(semi);
	margin-bottom: 20px;
}

.advantages__item-desc {
	font-size: 14px;
	line-height: 22px;
}

.advantages__item-desc-item {
	margin-bottom: 10px;
	position: relative;
	font-size: 14px;
	line-height: 22px;

	&:before {
		position: absolute;
		content: "";
		display: block;
		top: 5px;
		left: -23px;
		@include get-sprite($icons, Bullet);		
	}
}

.advantages__list {
	margin-left: -66px;
	margin-right: -66px;
	margin-bottom: 70px;

	&:before,
	&:after {
		display: none !important;
	}

	display: flex;
	flex-wrap: wrap;
}