.feedbacks {
	padding: 95px 0 95px 0;
	background: image-url('feedback-bg.png') no-repeat;
	background-size: cover;
}

.feedbacks__title {
	font-size: 32px;
	color: #fff;
	margin-bottom: 70px;
	text-align: center;
}

.feedbacks__list {
	display: flex;
	flex-wrap: wrap;

	&:before,
	&:after {
		display: none !important;
	}

	margin: 0 -50px 20px -50px;
}

.feedbacks__item {
	padding: 0 50px;
	margin-bottom: 65px;
	display: block;
}

.feedbacks__img-container {
	width: 170px;
	height: 170px;
	line-height: 170px;
	border-radius: 50%;
	overflow: hidden;
	background-image: linear-gradient( -42deg, rgb(45,40,52) 40%, rgb(71,53,96) 100%);
	box-shadow: 0px 8px 13.44px 2.56px rgba(81, 58, 114, 0.16);
	float: left;
	margin-right: 35px;
}

.feedbacks__item-info {
	padding-top: 70px;
}

.feedbacks__item-title {
	font-size: 20px;
	color: #fff;
	@include font(semi);
	margin-bottom: 15px;
}

.feedbacks__item-desc {
	font-size: 12px;
	color: #d2d2d2;
	margin-bottom: 20px;
	text-transform: uppercase;
}

.feedbacks__item-video-wrap {
	@include states {
		margin-left: 205px;
		display: block;
		position: relative;
		max-width: 275px;

		&:before {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			content: "";
			display: block;
			background-image: -webkit-linear-gradient(-42deg, #2d2834 40%, #473560 100%);
			z-index: 1;
			opacity: 0.75;
		}

		&:after {
			@include get-sprite($icons, play);
			position: absolute;
			top: 50%;
			left: 50%;
			display: block;
			content: '';
			transform: translate(-50%, -50%);
			z-index: 1;
		}
	}
	
	@include linksHover();
}

.feedbacks__img-ifnone {
	font-size: 61px;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
}

.feedbacks__item-text {
	position: relative;
	font-size: 14px;
	line-height: 22px;
	color: #fff;
	margin-left: 205px;

	&:before {
		content: "“";
		position: absolute;
		left: -20px;
		color: #fff;
		font-size: 32px;
		top: 5px;
	}
}

.feedbacks__add-btn {
	@include states {
		display: inline-block;
		min-width: 210px;
		height: 45px;
		padding: 0 10px;
		border: 1px solid #fff;
		border-radius: 3px;
		text-align: center;
		line-height: 44px;
		color: #fff;
		font-size: 16px;
		font-family: 'ProximaNova-Semibold';
		transition: all .3s ease-in-out;
		margin-bottom: 25px;
	}

	&:hover {
		color: #523b73;
		background: #fff;
	}
}

.feedbacks__all-btn {
	@include states {
		display: inline-block;
		font-size: 10px;
		text-transform: uppercase;
		text-decoration: underline;
		@include font(semi);
		color: #fff;
	}

	&:hover {
		text-decoration: none;
	}
}

.feedbacks__btn-wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
}