.footer {
	text-align: center;
}

.footer-top {
	padding: 40px 0;
	border-top: 1px solid #e7e7e7;
}

.footer-top__text {
	font-size: 16px;
	color: #404040;
}

.footer-top__tel {
	@include font(semi);
	color: #523b73;
	font-size: 20px;
	vertical-align: middle;
	margin-left: 10px;
}

.footer-mid {
	padding: 35px 0;
	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
}

.footer__nav-list {
	display: flex;
	justify-content: center;
	margin-right: -15px;
	flex-wrap: wrap;
	margin-bottom: -15px;
}

.footer__nav-item {
	margin-right: 15px;
	margin-bottom: 15px;
}

.footer__nav-link {
	@include states {
		font-size: 14px;
		color: #a4a4a4;
		border-bottom: 1px solid #a4a4a4;
		display: inline-block;
		transition: all .3s ease-in-out;
	}

	&:hover {
		color: #523b73;
		border-bottom: 1px solid #523b73;
	}
}

.footer-bot {
	padding: 35px 0 35px 0;
}

.footer__logo-container {
	margin-bottom: 40px;
}

.footer__copyright {
	color: #a4a4a4;
	font-size: 14px;
	margin-bottom: 35px;
}

.footer__copyright-link {
	@include states {
		color: #a4a4a4;
		text-decoration: underline;
		font-size: 14px;
	}
	@include linksHover();
}



.footer__socials-list {
	justify-content: center;
	display: flex;
	align-items: center;
	margin-bottom: 30px;
}

.footer__socials-item {
	font-size: 0;
	text-indent: -99999px;
	color: transparent;
	margin-right: 35px;

	&:last-child {
		margin-right: 0;
	}

	&.vk {
		@include get-sprite($icons, footer-vk-hover);

		&:hover {
			@include get-sprite($icons, footer-vk);
		}
	}

	&.fb {
		@include get-sprite($icons, footer-fb-hover);

		&:hover {
			@include get-sprite($icons, footer-fb);
		}
	}

	&.inst {
		@include get-sprite($icons, footer-inst-hover);

		&:hover {
			@include get-sprite($icons, footer-inst);
		}
	}

	&.yout {
		@include get-sprite($icons, footer-you-hover);

		&:hover {
			@include get-sprite($icons, footer-you);
		}
	}

	&.ok {
		@include get-sprite($icons, footer-ok-hover);

		&:hover {
			@include get-sprite($icons, footer-ok);
		}
	}

	&.tw {
		@include get-sprite($icons, footer-tw-hover);

		&:hover {
			@include get-sprite($icons, footer-tw);
		}
	}
}

.footer__socials-link {
	display: block;
	width: 100%;
	height: 100%;
}

.footer__visa-img {
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	max-height: 25px;

	&:last-child {
		margin-right: 0;
	}
}