.gallery {
	padding: 60px 0 75px 0;

	.container {
		margin-bottom: -50px;
	}
}

.gallery-top {
	margin: 0 -20px 40px -20px;

	> div {
		padding: 0 20px;
	}
}

.gallery-block-md,
.gallery-block-sm,
.gallery-block-big {
	position: relative;
	border-radius: 3px;
	overflow: hidden;
}

.gallery-block-md {
	height: 215px;
}

.gallery-block-sm {
	height: 215px;
}

.gallery-block-big {
	height: 480px;
}

.gallery-bot {
	margin: 0 -20px 0 -20px;

	.gallery-block-sm {
		margin-bottom: 50px;
	}

	> div {
		padding: 0 20px;
	}
}

.gallery-block__img {
	position: absolute;
	min-width: 100%;
	min-height: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: block;
}

.gallery-funcy {
	@include linksHover();
}