.header {
	padding: 13px 0 11px 0;
	border-bottom: 2px solid transparent;
}

.header-container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.header__logo {
	width: 90px/2px+0px;
	margin-right: 25px;
}

.header__logo-text {
	font-size: 0;
	text-indent: -99999px;
	color: transparent;
}

.header__nav-list {
	display: flex;
	align-items: center;
	margin-right: 24px;
}

.header__nav-item {
	margin-right: 24px;

	&:last-child {
		margin-right: 0;
	}
}

.header__nav-link {
	@include states {
		font-size: 13px;
		color: #666666;
		text-transform: uppercase;
		transition: all .3s ease-in-out;
		border: 1px solid transparent;
	}

	&:hover {
		color: #523b73;
		border-bottom: 1px solid #523b73;
	}
}

.header__socials-list {
	margin-right: 25px;
	display: flex;
	align-items: center;
}

.header__socials-item {
	font-size: 0;
	text-indent: -99999px;
	color: transparent;
	margin-right: 20px;

	&:last-child {
		margin-right: 0;
	}

	&.vk {
		@include get-sprite($icons, vk-hover);

		&:hover {
			@include get-sprite($icons, vk);
			width: 21px;
		}
	}

	&.fb {
		@include get-sprite($icons, fb-hover);

		&:hover {
			@include get-sprite($icons, fb);
		}
	}

	&.inst {
		@include get-sprite($icons, inst-hover);

		&:hover {
			@include get-sprite($icons, inst);
		}
	}

	&.yout {
		@include get-sprite($icons, you-hover);
		width: 17px;

		&:hover {
			@include get-sprite($icons, you);
			width: 17px;
		}
	}

	&.ok {
		@include get-sprite($icons, ok-hover);
		margin-left: -5px;

		&:hover {
			@include get-sprite($icons, ok);
		}
	}
}

.header__socials-link {
	display: block;
	width: 100%;
	height: 100%;
}

.header__info {
	text-align: right;
	margin-right: 25px;
}

.header__call-btn {
	@include states {
		display: inline-block;
		font-size: 9px;
		color: #523b73;
		text-transform: uppercase;
		@include font(semi);
		margin-bottom: 2px;
	}

	@include linksHover();
}

.header__left {
	margin-left: auto;
	display: flex;
	align-items: center;
}

.header__tel {
	font-size: 16px;
	text-transform: uppercase;
	color: #333333;
	@include font(semi);
}

.header__basket {
	@include states {
		display: inline-block;
		margin-right: 6px;
		position: relative;
		@include get-sprite($icons, basket);
	}

	@include linksHover();
}

.header__basket-num {
	position: absolute;
	top: 1px;
	right: -6px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #523b73;
	font-size: 7px;
	color: #fff;
	font-family: 'ProximaNova-Semibold';
	text-align: center;
	line-height: 10px;
	overflow: hidden;
}