.magazine {
	padding: 90px 0 150px 0;
	background: image-url('feedback-bg.png') no-repeat;
	background-size: cover;
}

.magazine__item-info {
	font-size: 20px;
	color: #fff;
	text-align: center;
	margin-bottom: 20px;
}

.magazine__item-btn {
	@include states {
		display: inline-block;
		border-radius: 3px;
		background: #513a72;
		height: 45px;
		line-height: 45px;
		color: #fff;
		text-align: center;
		font-size: 16px;
		font-family: 'ProximaNova-Semibold';
		padding: 0 20px;
		transition: all .3s ease-in-out;
	}

	&:hover:not(:active) {
		background: #35264a;
	}
}

.magazine__list {
	position: relative;
	height: 450px;
	width: 100%;
	perspective: 3840px;
	transform-origin: center center;
}

.magazine__item {
	position: absolute;
	left: calc(50% - 290px);
	width: 580px;
	transform-style: PRESERVE-3D;
	transform-origin: center center;
	transition: all ease-in-out .6s;
	transform: scale(.8);
	cursor: pointer;
	opacity: 0;
	z-index: auto;
}

.magazine__item.mod_center, 
.magazine__item.mod_left, 
.magazine__item.mod_right {
	opacity: 1;
	transition: ease-in-out .3s all;
}

.magazine__item.mod_left {
	transform: translate3d(-90%,0,-1240px) scale(.8);
}

.magazine__item.mod_center {
	transform: translate3d(0,0,-1240px) scale(1);
	z-index: 1;
}

.magazine__item.mod_right {
	transform: translate3d(90%,0,-1240px) scale(.8);
}

.magazine__item-container {
	position: relative;
	width: 100%;
}

.magazine__item-bg {
	position: relative;
	box-shadow: 0px 8px 13.44px 2.56px rgba(81, 58, 114, 0.16);
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding-bottom: 0;
	height: 430px;
	border-radius: 4px;
	transition: ease-in-out .3s height;
	transform: 1;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.magazine__description-wrap {
	opacity: 0;
	z-index: 5;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: block;
	transition: ease-in-out .3s opacity;
}

.magazine__description {
	display: none;
	transition: ease-in-out .3s all;
	transform: translateY(0);
	display: block;
	position: absolute;
	top: 100%;
	width: 100%;
	padding-top: 60px;
	text-align: center;
}



/* active */

.magazine__item.on-top {
	z-index: 5;
}

.magazine__item.active {
	cursor: default;
}

.magazine__item.mod_left.active {
	transition: ease-in-out .3s all;
	transform: translate3d(-50%,0,0) scale(1);
}

.magazine__item.mod_center.active {
	transition: ease-in-out .3s all;
	transform: translate3d(0,0,0) scale(1);
}

.magazine__item.mod_right.active {
	transition: ease-in-out .3s all;
	transform: translate3d(50%,0,0) scale(1);
}

.magazine__item.active .magazine__item-bg {
	transition: ease-in-out .3s height;
}

.magazine__item.active .magazine__description-wrap {
	transition: ease-in-out .3s all .25s;
	opacity: 1;
}

.magazine__item.active .magazine__description {
	transition: ease-in-out .3s all .25s;
	transform: translateY(-40px);
}