.main-seo {
	padding: 95px 0 85px 0;
	border-top: 1px solid #e8e5ec;
	border-bottom: 1px solid #e8e5ec;
}

.main-seo__title {
	font-size: 32px;
	text-align: center;
	color: #523b73;
	margin-bottom: 20px;
}

.main-seo__desc {
	font-size: 20px;
	color: #606060;
	@include font(semi);
	margin-bottom: 55px;
	text-align: center;
}

.main-seo__cols {
	display: flex;
	margin-right: -75px;
}

.main-seo-col {
	display: inline-block;
	margin-right: 75px;
	font-size: 14px;
	line-height: 22px;
	color: #606060;
	width: 50%;

	p {
		margin-bottom: 25px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

