.main-top {
	position: relative;
	overflow: hidden;

	&:before {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		content: "";
		display: block;
		background-image: -webkit-linear-gradient( -42deg, rgb(45,40,52) 40%, rgb(71,53,96) 100%);
		z-index: 1;
		opacity: 0.9;
	}

	.container {
		padding-top: 110px;
		padding-bottom: 130px;
	}
}

.main-top__bg {
	position: absolute;
	min-height: 100%;
	min-width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.main-top__desc {
	position: relative;
	color: #fff;
	font-size: 20px;
	@include font(semi);
	text-align: center;
	margin-bottom: 30px;
	z-index: 2;
}

.main-top__title {
	position: relative;
	z-index: 2;
	text-align: center;
	color: #fff;
	@include font(light);
	font-size: 54px;
	line-height: 64px;
	margin-bottom: 150px/2px+0px;
}

.main-top__bot {
	position: relative;
	z-index: 2;
	text-align: center;
}

.main-top__link {
	@include states {
		display: inline-block;
		margin-right: 10px;
		min-width: 450px/2px+0px;
		height: 90px/2px+0px;
		padding: 0 10px;
		border: 1px solid #fff;
		border-radius: 3px;
		text-align: center;
		line-height: 88px/2px+0px;
		color: #fff;
		font-size: 32px/2px+0px;
		@include font(semi);
		transition: all .3s ease-in-out;
	}

	&:hover {
		color: #523b73;
		background: #fff;
	}

	&:last-child {
		margin-right: 0;
	}
}

 
