.main-services {
	text-align: center;
	padding: 50px 0 40px 0;
}

.main-services__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-right: -75px;
	margin-bottom: 25px;
}

.main-services__item {
	margin-right: 75px;
	position: relative;
	padding-top: 60px;

	&:before {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		content: "";
	}

	&.implant:before {
		background: image-url('stool.png') no-repeat;
		background-size: contain;
		width: 45px;
		height: 45px;
		top: 0;
	}

	&.keramika:before {
		background: image-url('lips.png') no-repeat;
		background-size: contain;
		width: 45px;
		height: 32px;
		top: 10px;
	}

	&.prot:before {
		background: image-url('drel.png') no-repeat;
		background-size: contain;
		width: 45px;
		height: 39px;
		top: 0;
		left: 59%;
	}

	&.otbel:before {
		background: image-url('diamond.png') no-repeat;
		background-size: contain;
		width: 45px;
		height: 33px;
		top: 6px;
	}
}

.main-services__item-text {
	text-align: center;
	font-size: 14px;
	color: #523b73;
	line-height: 18px;
}

.main-services__all-btn {
	@include states {
		font-size: 10px;
		@include font(semi);
		color: #523b73;
		text-transform: uppercase;
		border-bottom: 1px solid #523b73;
		display: inline-block;
	}
	
	&:hover {
		border-bottom: 1px solid transparent;
	}
}