.owl-main-slider__item {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	padding: 100px 0 115px 0;
}

.owl-main-slider__item-sub {
	font-size: 20px;
	color: #404040;
	@include font(semi);
	margin-bottom: 10px;
}

.owl-main-slider__item-title{
	font-size: 32px;
	color: #513a72;
	margin-bottom: 20px;
}

.owl-main-slider__item-text {
	font-size: 14px;
	color: #606060;
	line-height: 24px;
	margin-bottom: 35px;
}

.owl-main-slider__link {
	@include states {
		display: inline-block;
		border-radius: 3px;
		background: #513a72;
		height: 45px;
		line-height: 45px;
		color: #fff;
		text-align: center;
		font-size: 16px;
		font-family: 'ProximaNova-Semibold';
		padding: 0 25px;
		transition: all .3s ease-in-out;
	}

	&:hover:not(:active) {
		background: #35264a;
	}
}

.owl-main-slider__item-wrap {
	max-width: 580px;
}

.owl-main-slider{
	.owl-stage-outer {
		z-index: 1;
	}

	.owl-nav {
		width: 1170px;
		margin: 0 auto;
		position: absolute;
		height: 100%;
		top: 0;
		left: 0;
		right: 0;
	}

	.owl-prev {
		z-index: 1;
		@include get-sprite($icons, arrow-left);
		top: 50%;
		transform: translateY(-50%);
		font-size: 0;
		text-indent: -99999px;
		left: -85px; 
		@include linksHover();
		position: absolute;
	} 

	.owl-next {
		z-index: 1;
		@include get-sprite($icons, arrow-right);
		top: 50%;
		transform: translateY(-50%);
		font-size: 0;
		text-indent: -99999px;
		right: -85px; 
		position: absolute;
		@include linksHover();
	} 
}