input, textarea {
	border-radius: 0;
	-webkit-appearance: none;
}

.main-form {
	padding: 65px 0 55px 0;
	background: image-url('feedback-bg.png') no-repeat;
	background-size: cover;
}

.main-form__title {
	text-align: center;
	font-size: 32px;
	color:#fff;
	margin-bottom: 20px;
}

.main-form__desc {
	font-size: 14px;
	line-height: 19px;
	color: #d7d7d7;
	@include font(semi);
	margin-bottom: 40px;
	text-align: center;
}

.main-form__inputs-wrap {
	margin-bottom: 50px;
	margin-right: -20px;
	text-align: center;
}

.main-form__input {
	text-align: left;
	background: transparent;
	display: inline-block;
	width: 290px;
	height: 50px;
	padding: 0 15px;
	outline: none;
	border: none;
	border-bottom: 1px solid #d7d7d7;
	margin-right: 20px;
	font-size: 16px;
	color: #fff;
	@include font(semi);
}

.main-form__input::-webkit-input-placeholder {
	color: #fff;
}

.main-form__sbm-wrap {
	text-align: center;
}

.main-form__sbm {
	@include states {
		display: inline-block;
		outline: none;
		border: none;
		height: 45px;
		line-height: 45px;
		text-align: center;
		color:#fff;
		font-size: 16px;
		@include font(semi);
		padding: 0 10px;
		min-width: 170px;
		border-radius: 3px;
		background: #513a72;
		transition: all .3s ease-in-out;
	}

	&:hover:not(:active) {
		background: #35264a;
	}
}
