.modal-enroll__wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	width: 100%;
	pointer-events: none;
	padding: 50px 0 3vh 0;
}

.modal-enroll__dialog {
	position: relative;
	pointer-events: auto;
	width: 816px;
	max-width: 90%;
	margin: auto 0;
}

.modal-enroll__close-btn {
	@include linksHover();
	position: absolute;
	top: -47px;
	right: 3px;
	width: 27px;
	height: 27px;
	overflow: hidden;
	display: block;

	&:before,
	&:after {
		content: '';
		position: absolute;
		height: 2px;
		width: 100%;
		top: 50%;
		left: 0;
		margin-top: -1px;
		background: #fff;
	}

	&::before {
		transform: rotate(45deg);
	}

	&::after {
		transform: rotate(-45deg);
	}
}

.modal-enroll__container {
	background: image-url('feedback-bg.png') no-repeat;
	background-size: cover;
	padding: 50px 100px;
	border-radius: 5px;
	box-shadow: 0px 0px 12px 1px black;
	min-height: 382px;

	.main-form__sbm {
		box-shadow: 0px 0px 13px 4px rgba(81, 58, 114, 0.4);
	}

	.main-form__desc {
		color: #8a8d95;
	}

	.main-form__input::-webkit-input-placeholder {
		color: #d7d7d7;
	}
}

.modal-enroll__thx-text {
	font-size: 16px;
	color: #fff;
	@include font(semi);
	text-align: center;
	margin-top: 90px;
}



