.modal-call__wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	width: 100%;
	pointer-events: none;
	padding: 50px 0 3vh 0;
}

.modal-call__dialog {
	position: relative;
	pointer-events: auto;
	width: 575px;
	max-width: 90%;
	margin: auto 0;
}

.modal-call__container {
	background: image-url('feedback-bg.png') no-repeat;
	background-size: cover;
	padding: 50px 80px;
	border-radius: 5px;
	box-shadow: 0px 0px 12px 1px black;
	min-height: 576px;

	.main-form__title {
		margin-bottom: 45px;
	}

	.main-form__form {
		padding: 0 30px;
	}

	.main-form__sbm {
		box-shadow: 0px 0px 13px 4px rgba(81, 58, 114, 0.4);
		width: 100%;
		margin-top: 30px;
	}

	.modal-call__inputs-wrap {
		margin-bottom: 20px;
	}

	.main-form__input {
		display: block;
		margin-right: 0;
		width: 100%;
		margin-bottom: 45px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.modal-call__subinfo {
	cursor: pointer;
}

.modal-call__checkbox {
	display: none !important;

	&:checked + .modal-call__checkbox-text:after {
		position: absolute;
		content: "";
		display: block;
		width: 9px;
		height: 5px;
		top: 6px;
		left: 3px;
		border: 1px solid #8a8d95;
		border-top: none;
		border-right: none;
		background: transparent;
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}
}

.modal-call__checkbox-text {
	padding-left: 27px;
	position: relative;
	font-size: 14px;
	line-height: 19px;
	@include font(semi);
	color: #8a8d95;
	display: block;
}

.modal-call__checkbox-text:before {
	width: 15px;
	height: 15px;
	position: absolute;
	content: "";
	display: block;
	left: 0;
	top: 2px;
	border: 1px solid #8a8d95;
}

.modal-call__thx-text {
	font-size: 16px;
	color: #fff;
	@include font(semi);
	text-align: center;
	margin-top: 180px;
}

.modal-call__textarea {
	text-align: left;
	background: transparent;
	display: block;
	width: 100%;
	height: 120px;
	resize: none;
	padding: 14px 15px;
	outline: none;
	border: none;
	border-bottom: 1px solid #d7d7d7;
	font-size: 16px;
	color: #fff;
	@include font(semi);
}

.modal-call__textarea::-webkit-input-placeholder {
	color: #fff;
}