.news {
	padding: 105px 0;
}

.news__title {
	text-align: center;
	font-size: 32px;
	color: #523b73;
	margin-bottom: 65px;
}

.news__list {
	display: flex;
	flex-wrap: wrap;

	&:before,
	&:after {
		display: none !important;
	}

	margin: 0 -60px;
}

.news__item {
	padding: 0 60px;
}

.news__link {
	@include states {
		display: block;
	}

	@include linksHover();
}

.news__item-img-container {
	overflow: hidden;
	border-radius: 5px;
	margin-bottom: 15px;
}

.news__item-date {
	font-size: 14px;
	@include font(semi);
	color: #523b73;
	margin-bottom: 10px;
}

.news__item-text {
	font-size: 20px;
	line-height: 27px;
	@include font(semi);
	color: #404040;
}