.press {
	padding: 85px 0 80px 0;
}

.press__title {
	font-size: 32px;
	color: #523b73;
	text-align: center;
	margin-bottom: 75px;
}

.press__list {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -60px;
	margin-bottom: -40px;

	&:before,
	&:after {
		display: none !important;
	}
}

.press__item {
	padding: 0 60px;
	margin-bottom: 90px;
}

.press__item-wrap {
	height: 300px;
	position: relative;
	transition: all .3s ease-in-out;
	cursor: pointer;
	border: 1px solid transparent;
	margin: -1px;

	&:hover {
		.press__link {
			margin-top: -15px;
			box-shadow: 0px 8px 13.44px 2.56px rgba(81, 58, 114, 0.4);
		}
	}
}

.press__link {
	@include states {
		border-radius: 5px;
		overflow: hidden;
		position: relative;
		transition: all .3s ease-in-out;
		display: block;
		width: 100%;
		height: 100%;
		padding: 20px;
		background-image: linear-gradient(to right bottom, rgb(45,40,52) 40%, rgb(71,53,96) 100%);
	}
}

.press__item-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;

	&:before {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		content: "";
		display: block;
		background-image: -webkit-linear-gradient(-42deg, #2d2834 40%, #473560 100%);
		z-index: 1;
		opacity: 0.75;
	}
}

.press__item-bg-img {
	position: absolute;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	display: block;
	transform: translate(-50%, -50%);
}

.press__logo {
	z-index: 1;
	position: relative;
	margin-bottom: 10px;
	display: block;
}

.press__date {
	z-index: 1;
	position: relative;
	font-size: 14px;
	color: #fff;
	@include font(semi);
	margin-bottom: 3px;
}

.press__site {
	z-index: 1;
	position: relative;
	font-size: 14px;
	color: #fff;
	@include font(semi);
	margin-bottom: 3px;
	text-decoration: underline;
	margin-bottom: 80px;
}

.press__text {
	z-index: 1;
	position: relative;
	font-size: 20px;
	color: #fff;
	line-height: 27px;
	@include font(semi);
}

.press-btn-wrap {
	text-align: center;
}

.press__all-btn {
	@include states {
		display: inline-block;
		font-size: 10px;
		text-transform: uppercase;
		text-decoration: underline;
		font-family: 'ProximaNova-Semibold';
		color: #513a72;
	}

	&:hover {
		text-decoration: none;
	}
}