.subscribe {
	padding: 90px 0;
}

.subscribe__title {
	font-size: 32px;
	color: #523b73;
	text-align: center;
	margin-bottom: 20px;
}

.subscribe__desc {
	font-size: 14px;
	@include font(semi);
	margin-bottom: 35px;
	color: #606060;
	text-align: center;
}

.subscribe__form {
	max-width: 800px;
	margin: 0 auto;
}

.subscribe__input-wrap {
	width: 100%;
	position: relative;
}

.subscribe__input {
	width: 100%;
	display: block;
	height: 52px;
	border: 2px solid #f4f3f6;
	background: #ffffff;
	border-radius: 3px;
	padding: 0 50px 0 15px;
	font-size: 18px;
	outline: none; 
}

.subscribe__sbm {
	@include states {
		position: absolute;
		right: 0;
		font-size: 22px;
		@include font(bold);
		color: #523b73;
		outline: none;
		border: none;
		background: none;
		top: 0;
		padding: 12px 20px;
	}

	@include linksHover();
}


