/* xs+sm+md */
@media screen and (max-width: 1199px) {
	.header-xs__btn {
		display: inline-block;
		padding: 0;
		width: 24px;
		padding-top: 6px;

		.icon-bar {
			transition: all .3s ease-in-out;
			position: relative;
			background-color: #523b73;
			display: block;
			width: 24px;
			height: 3px;
			margin-bottom: 3px;
			margin-right: auto;
			margin-left: auto;
			border-radius: 3px;

			&:last-child {
				margin-bottom: 0;
			}

			&:nth-child(1) {
				transition: .1s ease-in-out background-color;
			}

			&:nth-child(2) {
				position: absolute;
				top: 0;
			}

			&:nth-child(3) {
				position: absolute;
				bottom: -3px;
			}
		}


		@include linksHover();
	}

	.header-xs__menu {
		margin-right: 20px;
		font-size: 0;

		&.open {
			.icon-bar:nth-of-type(1) {
				background: transparent;
				transform: rotate(180deg);
			}

			.icon-bar:nth-of-type(2) {
				transform: rotate(45deg);
				top: 5px;
			}

			.icon-bar:nth-of-type(3) {
				transform: rotate(135deg);
				bottom: 4px;
			}
		}
	}

	.header-xs__menu-dropdown {
		border-radius: 0;
		position: fixed;
		top: 71px;
		z-index: 1000;
		background: #fff;
		left: 0;
		width: 100%;
		height: 100%;
		box-shadow: none;
		padding: 0;
		margin: 0;
		border: none;
		padding-bottom: 71px;
		overflow-y: auto;
	}

	.header-xs__menu-item {
		border-bottom: 1px solid rgba(231, 231, 231, 0.49);
	}

	.header-xs__menu-link {
		@include states {
			display: block;
			padding: 27px 0;
			font-size: 17px;
			color: #666666;
			text-transform: uppercase;
			text-align: center;
		}
		@include linksHover();
	}

	.header-xs__menu.open > .dropdown-menu {
		display: none;
	}

	.header_border-bottom {
		border-bottom: 2px solid #e7e7e7;
	}

	.about__cols {
		flex-wrap: wrap;
	}

	.about__col-1 {
		margin-right: 0;
		max-width: none;
		flex-shrink: initial;
		width: 50%;
	}

	.about__col-2 {
		margin-right: 0;
		max-width: none;
		width: 50%;
		padding-left: 80px;
	}

	.about__col-item-1,
	.about__col-item-2,
	.about__col-item-3,
	.about__col-item-4,
	.about__col-item-5 {
		br {
			display: none;
		}
	}

	.about__col-3-item-2,
	.about__col-3-item-3,
	.about__col-3-item-4,
	.about__btn-wrap {
		padding-left: 0;
		margin-right: 0;
	}

	.about__img {
		right: 270px;
	}

	.feedbacks__img-container {
		height: 140px;
		line-height: 140px;
		width: 140px;
	}

	.feedbacks__item-text {
		margin-left: 175px;
	}

	.feedbacks__item-video-wrap {
		@include states {
			margin-left: 175px;
		}
	}

	.press__item {
		padding: 0 10px;
	}

	.press__list {
		margin: 0 -10px;
		margin-bottom: -40px;
	}

	.magazine__list {
		height: 370px;
	}	

	.magazine__item {
		left: calc(50% - 240px);
		width: 480px;
	}

	.magazine__item-bg {
		height: 380px;
	}
}

/* xs+sm */
@media screen and (max-width: 991px) {
	.main-top__title {
		font-size: 38px;
		line-height: normal;
	}

	.about__img {
		right: 65px;
		max-width: 410px;
	}

	.gallery-block-big {
		height: 320px;
	}

	.gallery-top {
		margin: 0 -15px 30px -15px;
	}

	.gallery-top > div {
		padding: 0 15px;
	}

	.gallery-bot {
		margin: 0 -15px 0 -15px;
	}

	.gallery-bot > div {
		padding: 0 15px;
	}

	.gallery-block-sm {
		height: 145px;
	}

	.gallery-bot .gallery-block-sm {
		margin-bottom: 30px;
	}

	.gallery-block-md {
		height: 145px;
	}

	.advantages__title {
		margin-bottom: 40px;
	}

	.advantages__item {
		margin-bottom: 40px;
		padding-left: 45px;
		padding-right: 45px;
	}

	.advantages__list {
		margin-left: -45px;
		margin-bottom: 50px;
		margin-right: -45px;
	}

	.owl-main-slider__item {
		padding: 50px 0 50px 0;
	}

	.owl-main-slider__item-text {
		margin-bottom: 15px;
	}

	.feedbacks__list {
		margin: 0 -15px 20px -15px;
	}

	.feedbacks__item {
		padding: 0 15px;
		margin-bottom: 50px;
		display: block;
	}

	.feedbacks__img-container {
		height: 100px;
		width: 100px;
		line-height: 100px;
		float: none;
		flex: 0 0 100px;
		margin-right: 15px;
	}

	.feedbacks__item-title {
		font-size: 16px;
		margin-bottom: 5px;
	}

	.feedbacks__item-desc {
		font-size: 10px;
		margin-bottom: 0;
	}

	.feedbacks__item-text:before {
		left: -15px;
	}

	.feedbacks__item-wrap {
		display: flex;
		align-items: center;
	}

	.feedbacks__item-info {
		padding-top: 0;
	}

	.feedbacks__item-video-wrap {
		@include states {
			margin-left: 0;
			max-width: 100%;
		}
	}

	.feedbacks__item-text {
		margin-left: 0;

		&:before {
			display: none;
		}
	}

	.feedbacks__item-wrap {
		margin-bottom: 25px;
	}

	.feedbacks__img-ifnone {
		font-size: 40px;
	}

	.press__list {
		flex-wrap: wrap;
		margin: 0 -60px;
		margin-bottom: -50px;
	}

	.press__item {
		padding: 0 60px;
		margin-bottom: 100px;
	}

	.news {
		padding-top: 95px;
	}

	.news__title {
		margin-bottom: 55px;
	}

	.news__link {
		@include states {
			display: flex;
		}
	}

	.news__item-img-container {
		margin-bottom: 0;
		flex: 0 0 230px;
		margin-right: 40px;
	}

	.news__item {
		margin-bottom: 50px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.news__item-bot {
		display: flex;
		flex-direction: column;
	}

	.news__item-date {
		order: 2;
		margin-bottom: 0;
		color: #404040;
	}

	.news__item-text {
		order: 1;
		color: #523b73;
		margin-bottom: 10px;
	}

	.magazine__list {
		height: 250px;
	}

	.magazine__item-bg {
		height: 250px;
	}

	.magazine__item {
		left: calc(50% - 180px);
		width: 360px;
	}

	.magazine__item-info {
		font-size: 16px;
		margin-bottom: 15px;
	}

	.magazine__description {
		padding-top: 50px;
	}

	.magazine__item.active .magazine__description {
		transform: translateY(-30px);
	}
}


/* xs */
@media screen and (max-width: 767px) {
	.header__info {
		margin-right: 12px;
	}

	.main-top .container {
		padding-top: 40px;
		padding-bottom: 40px;
	}

	.main-top__desc {
		font-size: 16px;
		margin-bottom: 15px;
	}

	.main-top__title {
		font-size: 20px;
		margin-bottom: 23px;
	}

	.main-top__link {
		@include states {
			display: block;
			max-width: 225px;
			margin: 0 auto;
			margin-bottom: 15px;

			&:last-child {
				margin-bottom: 0;
				margin-right: auto;
			}
		}
	}

	.main-services__list {
		margin-right: -50px;
		margin-bottom: 0;
	}

	.main-services__item {
		margin-right: 50px;
		min-width: 100px;
		margin-bottom: 30px;
	}

	.main-services__item.otbel:before {
		left: 48%;
	}

	.about__title {
		font-size: 27px;
		margin-bottom: 45px;
	}

	.about__col-1 {
		width: 100%;
		margin-bottom: 35px;
	}

	.about__col-2 {
		padding-left: 0;
		width: 100%;
		margin-bottom: 35px;
	}

	p.about__col-item:before {
		transform: scale(0.8);
		left: -14px;
	}

	.about__col-3 {
		width: 75%;
		max-width: 275px;
		background: rgba(255,255,255,0.5);
		padding-bottom: 15px;
		position: relative;
		z-index: 1;
	}

	.about__img {
		right: -145px;
	}

	.gallery-funcy {
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}

	.gallery-top {
		.gallery-block-mobile-12 {
			margin-top: 16px;

			.gallery-block-sm {
				// height: 155px;
				height: 55.96vw;
			}
		}
	}

	.gallery-bot {
		.gallery-block-mobile-12 {
			margin-top: 16px;

			.gallery-block-sm {
				height: 55.96vw;
			}
		}
	}
	
	.gallery-top > div {
		padding: 0 8px;
	}

	.gallery-top {
		margin: 0 -8px 16px -8px;
	}

	.gallery-bot {
		margin: 0 -8px 0 -8px;
	}

	.gallery-bot > div {
		padding: 0 8px;
	}

	.gallery-block-md,
	.gallery-block-sm,
	.gallery-block-big {
		height: 25.271vw;
	}

	.gallery-block-sm {
		margin-bottom: 0;
	}

	.gallery-bot .gallery-block-sm {
		margin-bottom: 0;
	}

	.gallery .container {
		margin-bottom: 0;
	}

	.gallery {
		padding-top: 30px;
	}

	.advantages__item-desc-item:before {
		display: none;
	}

	.owl-main-slider__item-wrap {
		max-width: 100%;
		text-align: center;
	}

	.owl-main-slider__item-text {
		display: none;
	}

	.owl-main-slider__item {
		padding: 130px 0 130px 0;
		background-position: 90% 50%;
		position: relative;

		.container {
			position: relative;
		}

		&:before {
			width: 100%;
			height: 100%;
			content: "";
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			background: rgba(255,255,255,0.5);
		}
	}

	.owl-main-slider__item-title {
		margin-bottom: 30px;
	}

	.feedbacks {
		padding: 80px 0 90px 0;
	}

	.feedbacks__title {
		margin-bottom: 60px;
	}

	.press__title {
		margin-bottom: 35px;
	}

	.press__list {
		flex-direction: column;
		align-items: center;
		margin-bottom: 0;
		margin-left: 0;
		margin-right: 0;
	}

	.press__item {
		height: initial;
		width: 100%;
		margin-bottom: 45px;
		padding: 0;
		padding-top: 100%;
		position: relative;
	}

	.press__logo {
		align-self: flex-start;
	}

	.press__link {
		@include states {
			display: flex;
			flex-direction: column;
		}
	}

	.press__site {
		margin-bottom: 15px;
	}

	.press__text {
		margin-top: auto;
	}

	.press__item-wrap {
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		position: absolute;
	}

	.main-form__title {
		font-size: 27px;
	}

	.main-form__inputs-wrap {
		margin-right: 0;
		margin-bottom: 30px;
	}

	.main-form__input {
		display: block;
		margin-right: 0;
		width: 100%;
		margin-bottom: 15px;
	}

	.news {
		padding-top: 65px;
	}

	.news__title {
		margin-bottom: 40px;
	}

	.news__list {
		margin: 0 -15px;
	}

	.news__link {
		flex-direction: column;
	}

	.news__item-img-container {
		flex: initial;
		margin-right: 0;
		width: 100%;
		border-radius: 0;
		margin-bottom: 15px;
	}

	.news__item {
		padding: 0 15px;
		margin-bottom: 30px;
	}

	.main-seo {
		padding: 35px 0 15px 0;
	}

	.main-seo__title {
		font-size: 27px;
		line-height: 27px;
		margin-bottom: 15px;
	}

	.main-seo__desc {
		font-size: 16px;
		line-height: 22px;
		margin-bottom: 25px;
	}

	.main-seo__cols {
		flex-direction: column;
		margin-right: 0;
	}

	.main-seo-col {
		margin-right: 0;
		display: block;
		width: 100%;
		margin-bottom: 30px;
		font-size: 14px;
		line-height: 22px;
	}

	.subscribe {
		padding: 45px 0;
	}

	.subscribe__title {
		font-size: 24px;
		margin-bottom: 10px;
	}

	.subscribe__desc {
		font-size: 14px;
		line-height: 22px;
	}

	.subscribe__input {
		font-size: 14px;
	}

	.footer-top {
		padding: 25px 0;
	}

	.footer-top__tel {
		margin-top: 5px;
		display: block;
		margin-left: 0;
	}

	.footer__nav-list {
		flex-direction: column;
	}

	.footer__nav-item {
		margin-right: 0;
	}

	.footer__socials-item {
		margin-right: 25px;
	}

	.footer__copyright {
		font-size: 12px;
	}

	.footer__copyright-link {
		@include states {
			font-size: 12px;
		}
	}

	.owl-main-slider .owl-nav {
		width: 100%;
	}

	.owl-main-slider .owl-prev {
		left: 15px;
	}

	.owl-main-slider .owl-next {
		right: 15px;
	}

	.owl-magaz-item-bg {
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		width: 100%;
		height: 62vw;
		margin-bottom: 15px;
	}

	.owl-magaz-item__info {
		text-align: center;
	}

	.owl-magaz-item__name {
		font-size: 16px;
		@include font(semi);
		color: #fff;
		margin-bottom: 20px;
	}

	.owl-magaz-item__link {
		@include states {
			display: inline-block;
			border-radius: 3px;
			background: #513a72;
			height: 45px;
			line-height: 45px;
			color: #fff;
			text-align: center;
			font-size: 16px;
			font-family: 'ProximaNova-Semibold';
			padding: 0 20px;
		}
		@include linksHover();
	}

	.magazine__title {
		font-size: 32px;
		text-align: center;
		color: #fff;
		margin-bottom: 20px;
	}

	.magazine {
		padding-top: 60px;
		padding-bottom: 85px;
	}

	.owl-magaz {
		.owl-dots {
			left: 0;
			right: 0;
			display: flex;
			bottom: -35px;
			position: absolute;
			overflow: hidden;
			padding: 0 15%;

			.owl-dot {
				background: rgba(255,255,255,0.34);
				flex: 100%;
				margin-right: 15px;
				height: 3px;
				border-radius: 1px;

				span {
					display: none;
				}

				&:last-child {
					margin-right: 0;
				}

				&.active {
					background: #fff; 
				}
			}
		}

		.owl-stage-outer {
			overflow: visible;
		} 

		.owl-magaz-item,
		.owl-magaz-item-bg {
			transition: all .3s ease-in-out;
		}

		.owl-item:not(.active) {
			.owl-magaz-item {
				padding: 10vw 0;
			}

			.owl-magaz-item-bg {
				height: 43vw;
			}
		}

		.owl-item.active {
			z-index: 1;

			.owl-magaz-item-bg {
				box-shadow: 0px 0px 15px 4px rgba(81, 58, 114, 0.4);
				border-radius: 5px;
			}
		}
	}

	.modal-enroll__container,
	.modal-call__container {
		padding: 50px 15px;
	}

	.modal-call__container .main-form__form {
		padding: 0;
	}
}


