.shop-list {
	padding: 50px 0 70px 0;
}

.shop-list__title {
	font-size: 34px;
	color:#523b73;
	margin-bottom: 30px;
	text-align: center;
}

.shop-list__text {
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 40px;

	p {
		margin-bottom: 20px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.shop-list__list {
	&:before,
	&:after {
		display: none !important;
	}

	display: flex;
	flex-wrap: wrap;
	margin-right: -30px;
	margin-left: -30px;
	margin-bottom: -90px;
}

.shop-list__item {
	padding-right: 30px;
	padding-left: 30px;
	margin-bottom: 90px;
}

.shop-list__img-container {
	overflow: hidden;
	margin-bottom: 20px;
}

.shop-list__item-title {
	font-size: 20px;
	margin-bottom: 15px;
	@include font(semi);
}

.shop-list__item-desc {
	font-size: 12px;
	line-height: 17px;
	margin-bottom: 20px;
}

.shop-list__item-price {
	font-size: 27px;
	margin-bottom: 20px;
}

.shop-list__item-btn {
	@include states {
		display: inline-block;
		min-width: 90px;
		padding: 0 10px;
		border-radius: 3px;
		text-align: center;
		color: #fff;
		background: #523b73;
		font-size: 16px;
		@include font(semi);
		height: 45px;
		line-height: 45px;
		transition: all .3s ease-in-out;
	}

	&:hover:not(:active) {
		background: #35264a;
	}
}