@media screen and (max-width: 767px) {
	.shop-list__title {
		font-size: 32px;
		text-align: left;
	}

	.shop-list {
		padding: 35px 0 35px 0;
	}

	.shop-list__list {
		margin-bottom: -50px;
	}

	.shop-list__item {
		margin-bottom: 50px;
	}

	.shop-list__img-container {
		margin-bottom: 10px;
	}

	.shop-list__item-title {
		margin-bottom: 10px;
	}

	.shop-list__item-desc {
		margin-bottom: 10px;
	}

	.shop-list__item-price {
		margin-bottom: 10px;
	}
}