.press-in {
	padding: 75px 0 20px 0;
}

.press-in__container {
	width: 630px;
}

.press-in__top {
	h1 {
		font-size: 32px;
		color: #523b73;
		line-height: 36px;
		margin-bottom: 15px;
	}
}

.press-in__top-logo {
	max-width: 100%;
	height: auto;
	display: block;
	margin-bottom: 8px;
}

.press-in__top-date {
	font-size: 16px;
	@include font(semi);
	margin-bottom: 15px;
}

.press-in__top-site {
	font-size: 16px;
	@include font(semi);
	margin-bottom: 5px;
}

.press-in__top {
	margin-bottom: 15px;
}

.press-in__article {
	margin-bottom: 50px;

	img {
		width: 100%;
		height: auto;
		margin-bottom: 25px;
	}

	h2 {
		font-size: 23px;
		line-height: 36px;
		color: #523b73;
		margin-bottom: 15px; 
	}

	p {
		font-size: 16px;
		line-height: 24px;
		margin-bottom: 20px;
	}

	b {
		@include font(semi);
	}

	ul {
		margin: -5px 0 20px 0;

		li {
			position: relative;
			padding-left: 25px;
			margin-bottom: 20px;	

			&:last-child {
				margin-bottom: 0;
			}

			&:before {
				position: absolute;
				top: 2px;
				left: 0;
				display: block;
				content: "";
				@include get-sprite($icons, bullet-big);	
			}
		}
	}
}


.press-in__press__container {
	width: 630px;
}

.press.press-in__press {
	padding: 10px 0 50px 0;

	.press__list {
		margin: 0 -17px;
	}

	.press__item {
		padding: 0 17px;
		margin-bottom: 40px;
	}

	.press__item-wrap {
		height: 180px;
	}

	.press__link {
		@include states {
			padding: 15px 12px;
		}
	}

	.press__date {
		font-size: 9px;
	}

	.press__site {
		font-size: 9px;
		margin-bottom: 50px;
	}

	.press__text {
		font-size: 13px;
		line-height: 17px;
	}

}

.press-in__press-title {
	font-size: 32px;
	line-height: 36px;
	color: #523b73;
	margin-bottom: 35px;
	text-align: center;
}