@media screen and (max-width: 767px) {
	.press-in__container,
	.press-in__press__container {
		width: auto;
	}

	.press-in__top h1 {
		font-size: 22px;
		line-height: normal;
	}

	.press-in__top-date,
	.press-in__top-site {
		font-size: 14px;
	}

	.press-in__press-title {
		font-size: 22px;
		line-height: 26px;
	}

	.press-in__article h2 {
		font-size: 23px;
		line-height: normal;
	}

	.press-in {
		padding: 25px 0 20px 0;
	}

	.press.press-in__press {
		.press__item {
			height: initial;
			width: 100%;
			margin-bottom: 40px;
			padding: 0;
			padding-top: 100%;
		}
	}

	.press.press-in__press .press__list {
		margin: 0;
	}

	.press.press-in__press .press__item-wrap {
		height: 100%;
	}
}



