.allnews {
	padding: 55px 0 65px 0;
}

.allnews__item {
	margin-bottom: 95px;

	&:last-child {
		margin-bottom: 0;
	}
}

.allnews__link {
	@include states {
		display: flex;
	}
	@include linksHover();
}

.allnews__item-img-container {
	flex: 0 0 400px;
	margin-right: 40px;
	border-radius: 3px;
}

.allnews__item-title {
	font-size: 32px;
	line-height: 36px;
	margin-bottom: 10px;
	color: #523b73;
}

.allnews__item-date {
	font-size: 16px;
	@include font(semi);
}
