/* xs+sm */
@media screen and (max-width: 991px) {
	.allnews__item-title {
		font-size: 27px;
	}

	.allnews__item-img-container {
		flex: 0 0 225px;
	}
}

/* xs */
@media screen and (max-width: 767px) {
	.allnews__item-title {
		line-height: 27px;
		font-size: 20px;
	} 

	.allnews__item-img-container {
		flex: 0 0 100%;
		margin-right: 0;
		margin-bottom: 15px;
		border-radius: 0;
	}

	.allnews__link {
		@include states {
			flex-wrap: wrap;
		}
	}
}