.news.news-in__news {
	padding: 10px 0 50px 0;

	.news__title {
		font-size: 32px;
		line-height: 36px;
		color: #523b73;
		margin-bottom: 35px;
		text-align: center;
	}

	.news__list {
		margin: 0 -15px;
		margin-bottom: -30px;
	}

	.news__item {
		padding: 0 15px;
		margin-bottom: 30px;
	}

	.news__item-text {
		font-size: 14px;
		line-height: normal;
	}

	.news__item-img-container {
		margin-bottom: 5px;
	}
}

.news-in__news-container {
	width: 630px;
}
