@media screen and (max-width: 991px) {
	.news.news-in__news {
		.news__link {
			@include states {
				display: block;
			}
		}

		.news__item-img-container {
			margin-right: 0;
		}

		.news__item-text {
			margin-bottom: 0;
		}
	}
}

@media screen and (max-width: 767px) {
	.news-in__news-container {
		width: auto;
	}
}