.article {
	padding: 60px 0;
	border-bottom: 1px solid #e7e7e7;
}

.cont-head__link {
	@include states {
		display: inline-block;
		color: #fff;
		border-radius: 3px;
		background: #523b73;
		text-align: center;
		padding: 0 10px;
		min-width: 190px;
		font-size: 16px;
		@include font(semi);
		height: 45px;
		line-height: 45px;
		margin-top: 25px;
		transition: all .3s ease-in-out;
	}

	&:hover:not(:active) {
		background: #35264a;
	}
}

.cont-head__link-wrap {
	text-align: center;
}

.article__top {
	margin-bottom: 40px;

	h2 {
		font-size: 34px;
		text-align: center;
		color: #523b73;
		margin-bottom: 25px;
	}

	p {
		text-align: center;
		font-size: 16px;
		line-height: 24px;
		margin-bottom: 30px;
	}

	img {
		width: 100%;
		height: auto;
	}
}

.article__block {
	margin-bottom: 50px;

	h2 {
		font-size: 34px;
		text-align: center;
		color: #523b73;
		margin-bottom: 35px;
	}

	p {
		font-size: 16px;
		line-height: 24px;
		margin-bottom: 25px;
	}

	img {
		width: 100%;
		height: auto;
		margin-bottom: 25px;
	}

	b {
		@include font(semi);
	}

	ul {
		margin: -5px 0 20px 0;

		li {
			position: relative;
			padding-left: 25px;
			margin-bottom: 20px;	

			&:last-child {
				margin-bottom: 0;
			}

			&:before {
				position: absolute;
				top: 2px;
				left: 0;
				display: block;
				content: "";
				@include get-sprite($icons, bullet-big);	
			}
		}
	}
}

.article__img-description {
	font-size: 12px;
	line-height: 19px;
	margin-top: -15px;
	@include font(semi);
	margin-bottom: 25px;
}

ul.article__small-ul-list {
	li {
		padding-left: 20px;
		margin-bottom: 15px;
		font-size: 12px;	

		&:last-child {
			margin-bottom: 0;
		}

		&:before {
			position: absolute;
			top: 2px;
			left: 0;
			display: block;
			content: "";
			@include get-sprite($icons, bullet);	
		}
	}
}

img.aticle__floatet-img {
	float: right;
	margin-left: 25px;
	width: 620px;
}

.article__stretching {
	margin-left: -2000px;
	margin-right: -2000px;
	padding-left: 2000px;
	padding-right: 2000px;
	margin-bottom: 50px;

	.container {
		margin-left: -15px;
		margin-right: -15px;
	}
}

.article__afbef {
	background: #faf8fe;
	padding: 55px 90px 50px 90px;
	margin-bottom: 60px;
}

.article__afbef-title {
	font-size: 34px;
	text-align: center;
	color: #523b73;
	margin-bottom: 35px;
}

.article__afbef-img-container {
	position: relative;
	overflow: hidden;
	border-radius: 3px;
}

.article__afbef-img-badge {
	position: absolute;
	bottom: 20px;
	left: 20px;
	font-size: 16px;
	@include font(semi);
	border-radius: 3px;
	color: #fff;
	padding: 3px 11px;
	background-image: linear-gradient( -232deg, rgb(45,40,52) 40%, rgb(71,53,96) 100%);
	box-shadow: 0px 8px 13.44px 2.56px rgba(81, 58, 114, 0.16);
}

.article__afbef-desc {
	margin-top: 30px;
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 40px;
}

.article__afbef-link-wrap {
	text-align: center;
}

.article__afbef-link {
	@include states {
		display: inline-block;
		color: #fff;
		border-radius: 3px;
		background: #523b73;
		text-align: center;
		padding: 0 10px;
		min-width: 150px;
		font-size: 16px;
		@include font(semi);
		height: 45px;
		line-height: 45px;
		transition: all .3s ease-in-out;
	}

	&:hover:not(:active) {
		background: #35264a;
	}
}

.article__comments-title {
	font-size: 20px;
	color: #404040;
	@include font(semi);
	margin-bottom: 20px;
}

.article__com-input {
	text-align: left;
	background: transparent;
	display: block;
	width: 100%;
	height: 50px;
	padding: 0 15px;
	outline: none;
	border: none;
	border-bottom: 1px solid #d7d7d7;
	margin-bottom: 30px;
	font-size: 16px;
	color: #606060;
	font-family: 'ProximaNova-Semibold';
}

.article__com-input::-webkit-input-placeholder,
.article__com-textarea::-webkit-input-placeholder {
	color: #606060;
}

.article__com-textarea {
	text-align: left;
	background: transparent;
	display: block;
	width: 100%;
	height: 220px;
	resize: none;
	padding: 14px 15px;
	outline: none;
	border: 1px solid #d7d7d7;
	font-size: 16px;
	color: #606060;
	font-family: 'ProximaNova-Semibold';
	border-radius: 3px;
}

.article__form {
	position: relative;
	margin-bottom: 50px;
}

.article__com-sbm {
	@include states {
		width: 175px;
		bottom: -22px;
		left: 0;
		right: 0;
		margin: 0 auto;
		position: absolute;
		display: inline-block;
		padding: 0 10px;
		height: 45px;
		line-height: 45px;
		text-align: center;
		color: #fff;
		font-size: 16px;
		@include font(semi);
		background: #523b73;
		border-radius: 3px;
		outline: none;
		border: none;
		padding-bottom: 20px;
		transition: all .3s ease-in-out;
	}

	&:hover:not(:active) {
		background: #35264a;
	}
}

.article__com-item {
	display: flex;
	margin-bottom: 20px;

	&:last-child {
		margin-bottom: 0;
	}
}

.article__com-item-left {
	flex: 0 0 50px;
	margin-right: 15px;
}

.article__com-item-img-container {
	width: 100%;
	height: 50px;
	line-height: 50px;
	overflow: hidden;
	border-radius: 50%;
	background-image: linear-gradient( -42deg, rgb(45,40,52) 40%, rgb(71,53,96) 100%);
	box-shadow: 0px 8px 13.44px 2.56px rgba(81, 58, 114, 0.16);
}

.article__com-item-right{
	padding-top: 16px;
}

.article__com-item-title,
.article__com-item-date {
	display: inline-block;
	font-size: 12px;
	line-height: 22px;
	vertical-align: middle;
	color: #513a72;
	position: relative;
	@include font(semi);
}

.article__com-item-right-top {
	margin-bottom: 5px;
}

.article__com-item-date {
	&:before {
		content: "/ ";
	}
}

.article__com-item-text {
	font-size: 16px;
	line-height: 24px;
}

.article__com-item-img-ifnone {
	text-align: center;
	text-transform: uppercase;
	font-size: 18px;
	color: #fff;
}

.article__comments {
	padding: 0 90px 0 90px;
}

.interesting {
	padding: 55px 0 65px 0;
}

.interesting__title {
	font-size: 34px;
	text-align: center;
	color: #523b73;
	margin-bottom: 40px;
}

.interesting__list {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -70px;
	margin-bottom: -50px;

	&:before,
	&:after {
		display: none !important;
	}
}

.interesting__item {
	padding: 0 70px;
	margin-bottom: 50px;
}

.interesting__link {
	@include states {
		display: block;
	}

	&:hover {
		.interesting__desc{
			color: #513a72;
		}

		.interesting__img-container {
			box-shadow: 0 5px 20px 5px rgba(0,0,0,0.2);
		}
	}
}

.interesting__img-container {
	overflow: hidden;
	margin-bottom: 20px;
	border-radius: 4px;
	transition: all .3s ease-in-out;
}

.interesting__desc {
	transition: all .3s ease-in-out;
	font-size: 20px;
	@include font(semi);
	text-align: center;
}