/* xs+sm */
@media screen and (max-width: 991px) {
	img.aticle__floatet-img {
		float: none;
		width: 100%;
		margin-left: 0;
	}

	.article__afbef {
		padding-left: 15px;
		padding-right: 15px;
	}

	.article__comments {
		padding-left: 0;
		padding-right: 0;
	}
}

@media screen and (max-width: 767px) {
	.article__top h2,
	.article__block h2,
	.article__afbef-title {
		font-size: 22px;
	}

	.article {
		padding-top:25px;
	}

	.article__afbef-row {
		margin-bottom: -20px;
	}

	.article__afbef-img-container {
		margin-bottom: 20px;
	}
}