.certifications {
	padding: 70px 0;
}

.certifications__list {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -65px;
	margin-bottom: -75px;

	&:before,
	&:after {
		display: none !important;
	}
}

.certifications__item {
	padding: 0 65px;
	margin-bottom: 75px;
}

.certifications__link {
	@include states {
		padding: 35px;
		border-radius: 3px;
		display: block;
		border: 1px solid #f0f0f0;
	}
	@include linksHover();
}