@media screen and (max-width: 991px) {
	.certifications__item {
		padding: 0 55px;
	}

	.certifications__list {
		margin-right: -55px;
		margin-left: -55px;
	}
}

@media screen and (max-width: 767px) {
	.certifications__item {
		padding: 0 15px;
		margin-bottom: 30px;
	}

	.certifications__list {
		margin-right: -15px;
		margin-left: -15px;
		margin-bottom: -30px;
	}
}