* {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

label {
	margin-bottom: 0;
	font-weight: normal;
}

p {
	margin: 0;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

a,
a:hover,
a:focus {
	text-decoration: none;
	color: initial;
	outline: none;
}

html, body {
	width: 100%;
}

body {
	display: flex;
	flex-direction: column;
	line-height: normal;
	@include font(reg);
	min-height: 100vh;
}

.img-responsive {
	width: 100%;
}

.main {
	flex: 1;
	overflow: hidden;
}

.footer {
}

.col-centered{
	float: none;
	margin: 0 auto;
	text-align: center;
}

.fixed {
	position: fixed;
}

.clear-border-top {
	border-top: none !important;
}