//       /2px+0px;

%trans {
	transition: all .3s ease-in-out;
}

%icons { 		
	position: absolute;
	display: block;
	content: "";
	top: 50%;
	transform: translateY(-50%);
}

%pseudo {
	position: absolute;
	display: block;
	content: "";
}

%center {
	position: absolute;
	display: block;
	content: "";
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%); 
}

// @include get-sprite($icons, arrow);
$icons : sprite-map('icons/*.png' , $spacing: 70px);
