.afterbefore__container {
	width: 900px;
}

.afterbefore__item {
	margin-right: -2000px;
	margin-left: -2000px;
	padding-left: 2000px;
	padding-right: 2000px;
	padding-top: 60px;
	padding-bottom: 60px;
	border-bottom: 1px solid #e7e7e7;
}

.afterbefore__item-title {
	font-size: 32px;
	margin-bottom: 5px;
	text-align: center;
	color: #523b73;
}

.afterbefore__item-name {
	@include font(semi);
	text-align: center;
	font-size: 20px;
	color: #404040;
	margin-bottom: 5px;
}

.afterbefore__item-info {
	text-align: center;
	font-size: 14px;
	color: #666666;
	margin-bottom: 30px; 
}

.afterbefore__img-container {
	position: relative;
	overflow: hidden;
	border-radius: 3px;
	margin-bottom: 30px;
}

.afterbefore__badge {
	position: absolute;
	bottom: 20px;
	left: 20px;
	font-size: 16px;
	font-family: 'ProximaNova-Semibold';
	border-radius: 3px;
	color: #fff;
	padding: 3px 11px;
	background-image: linear-gradient(-232deg, #2d2834 40%, #473560 100%);
	box-shadow: 0px 8px 13.44px 2.56px rgba(81, 58, 114, 0.16);
}

.afterbefore__text {
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 25px;
}

.afterbefore__btns {
	display: flex;
	flex-wrap: wrap;
}

.afterbefore__comment {
	@include states {
		font-size: 14px;
		@include font(semi);
		color: #45345c;
		margin-right: 20px;
		position: relative;
		padding-left: 23px;

		&:before {
			position: absolute;
			content: "";
			display: block;
			left: 0;
			top: 55%;
			transform: translateY(-50%);
			background: image-url('dotdotdot.png') no-repeat;
			width: 17px;
			height: 17px;
			background-size: cover;
		}
	}
	@include linksHover();
}

.afterbefore__question {
	@include states {
		font-size: 14px;
		@include font(semi);
		color: #45345c;
		position: relative;
		padding-left: 21px;

		&:before {
			position: absolute;
			content: "";
			display: block;
			left: 0;
			top: 47%;
			transform: translateY(-50%);
			background: image-url('what.png') no-repeat;
			width: 15px;
			height: 15px;
			background-size: cover;
		}
	}
	@include linksHover();
}

.pagination__item {
	width: 35px;
	height: 35px;
	background: transparent;
	color: #58486f;
	font-size: 20px;
	margin-right: 3px;
	line-height: 36px;
	text-align: center;

	&:last-child {
		margin-right: 0;
	}

	&.active {
		color: #fff;
		background: #58486f;
		border-radius: 50%;
	}

	&.first,
	&.last {
		width: auto;
	}

	&.first {
		margin-right: 15px;
	}

	&.last {
		margin-left: 15px;
	}
}

.pagination__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.pagination__link{
	@include states {
		color: inherit;
		width: 100%;
		height: 100%;
		display: block;
	}
	@include linksHover();
}

.pagination {
	display: block;
	border-radius: 0;
}