@media screen and (max-width: 991px) {
	.afterbefore__container {
		width: 750px;
	}

	.afterbefore__item {
		padding-bottom: 30px;
	}
}


@media screen and (max-width: 767px) {
	.afterbefore__container {
		width: auto;
	}

	.afterbefore__item {
		padding-bottom: 30px;
	}

	.afterbefore__item-title {
		font-size: 22px;
		line-height: 27px;
	}

	.afterbefore__item-name {
		font-size: 16px;
	}

	.afterbefore__item-info {
		font-size: 14px;
		margin-bottom: 20px;
	}

	.afterbefore__img-container {
		margin-bottom: 20px;
	}

	.afterbefore__badge {
		left: 12px;
		bottom: 12px;
	}

	.pagination__item {
		font-size: 16px;
		width: 30px;
		height: 30px;
		line-height: 30px;
	}
}